* {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

span {
  font-weight: 550;
  color: #39378f;
  margin-right: 5px;
}

div {
  margin: 10px;
}
.subSubject {
  border: 1px solid #39378f3a;
  border-radius: 10px;
}
