<mat-card class="container">
  <div class="usersListContainer custom-scroll-bar">
    <mat-selection-list #users [multiple]="false">
      <mat-list-option
        [lessThen10Posts]="u.id"
        class="userItem"
        *ngFor="let u of users$ | async"
        (click)="selectUser(u)"
        [value]="u"
      >
        <app-user-list-item [data]="u"></app-user-list-item>
      </mat-list-option>
    </mat-selection-list>
  </div>

  <div class="details">
    <mat-card-title class="userName">{{ userName }} </mat-card-title>
    <mat-button-toggle-group>
      <mat-button-toggle routerLink="details">details</mat-button-toggle>
      <mat-button-toggle routerLink="posts">posts</mat-button-toggle>
    </mat-button-toggle-group>
    <router-outlet></router-outlet>
  </div>
</mat-card>
