.name {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 3px;
}

div {
  font-size: 15px;
  span {
    color: rgb(31, 31, 31);
    margin-right: 5px;
  }
}
